/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: #666;}

fieldset, img { border: none; }
html::-webkit-scrollbar {
    width: 0 !important;
  }
html{
    height: 100%;
}
body{
    height: 100%;
}
#a{
    height: 100%;
}